*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;   
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

img{
    display: block;
    max-width: 100%;  /* Max width 100% mais si elle n'a plus la place, elle va se reduire */
}

.flex{
    display: flex;
}

.column {
    flex-direction: column;
}

h2{
    color: #707C46;
    font-weight: 500;
    font-size: 30px;
}

h3{
    font-size: 18px;
}

h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.vertical-line{
    border-left: 1px solid #707C46;
    display: inline-block;
    min-height: 266px;
  }

/* PAGE DE GARDE  */
/* EQUIPEMENT  */
/* STOCKAGE  */


/* NAVIGATION */
.naviguer{
    border: 4px solid pink;
    background: url('images/img_ordinateur.png') no-repeat center top;
    min-height: 910px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 250px;
}


.articleContainer{
    justify-content: space-around;
}


.containerVert{
    border:4px solid red;
    background: #F2F4EE;
    width: min(1100px, 100%);
    min-height: 418px;
    
} 

.containerVert h2{
    padding-top: 43px;
    padding-left: 39px;
    margin-bottom: 31px;
}

.art{
    width: 263px;
    min-height: 266px;
    /* margin-left: 56px;
    margin-right: 56px; */
    gap: 32px;
   
}


/* SOBRIETE */

.card{
    width: 330px;
    min-height: 436px;
    border: 4px solid red;
    align-items: center;
    justify-content: flex-start;
    gap:71px;
}

.iconeContainer{
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}

.sobriete h2{
    padding-left: 190px;
    margin-bottom: 84px;
}

.iconeContainer .vertical-line{
    height: 436px;
  }




 /* ********************MEDIA QUERIES - 770px *********************/
@media (max-width: 770px) {
/* NAVIGATION */
/* .naviguer{
    border: 4px solid pink;
    background: url('images/img_ordinateur.png') no-repeat center;
    height: 220px;
}

.articleContainer{
    flex-direction: column;
    justify-content: center
}


.containerNaviguer{
    border:4px solid red;
    background: #F2F4EE;
    /* width: min(1100px, 95%); */
    

/* } 

.containerNaviguer h2{
    padding-top: 43px;
    padding-left: 55px;
    margin-bottom: 31px;
}

.art{
    width: 263px;
    height: 266px;
    gap: 32px;
}  */



}
